DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=*

MYSQL_DATABASE=sibp_db
MYSQL_USER=sibp_user
MYSQL_PASSWORD=sibp_pass
MYSQL_ROOT_PASSWORD=rootpass

DJANGO_SUPERUSER_USERNAME=rootsib
DJANGO_SUPERUSER_EMAIL=rootsib@dev.com
DJANGO_SUPERUSER_PASSWORD=rootsib2026
